extends layout

block content
  .container
    form.form
        h2="About"
        label="Ok, let’s face it we have all had questionable experiences that have left us to give pause later."
        label="Did I encourage, did I allow it? How did it happen?"
        label="Sex is omnidirectional, but power isn't often evenly held."
        label
          |Post your confusion.
          br
          |Don’t be shamed.
          br
          |Let others weigh in.
        label
          |We embrace the grey areas to allow for dialogue and discovery to further understand the defining lines of harassment.
          b.sitetitle=" Ok, Not Ok "
          | is an anonymous platform that allows people to safely either post or vote on the ambiguous encounters.
        //- h3.subheader="Our Story"
        //- p="In the midst of the #metoo movement, a few of us were having a conversation over lunch… (Jennie to write more to tie into the top)"
