extends layout

block content
  .container
      h2.header=title
  .container
      h3.subheader="Mission"
      p="Let’s face it we have all had questionable experiences that have left us to give pause later.  Did I encourage, did I allow it? How did it happen? Sex is omnidirectional."
      p
        |Post your confusion.
        br
        |Don’t be shamed. 
        br
        |Let others weigh in.
      p
        |We embrace the grey areas to allow for dialogue and discovery to further understand the defining lines of harassment. 
        b Ok Not Ok 
        | is an anonymous platform that allows people to safely either post or vote on the ambiguous encounters.
      h3.subheader="Our Story"
      p="In the midst of the #metoo movement, a few of us were having a conversation over lunch… (Jennie to write more to tie into the top)"
